nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #242424;
}

nav ul li {
  float: left;
}

nav ul li:last-child {
  float: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.text-white {
  color: white;
  font-weight: bold;
} 

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
  color: white;
}

#container {
  margin: 20px auto 0 auto;
  padding: 0 10px;
}
