.table-container {
  width: 100%;
  overflow-x: auto;
}

.brief-table {
  width: 100%;
  border-collapse: collapse;
}

.brief-table th,
.brief-table td {
  padding: 8px 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.brief-table th {
  background-color: #f2f2f2;
}

.brief-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.brief-table tbody tr:hover {
  background-color: #f5f5f5;
}

.brief-table td:last-child {
  text-align: center;
}

.action-icons {
  text-align: center;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
  margin-right: 5px;
}

.edit-icon:hover,
.delete-icon:hover {
  color: dodgerblue;
}
