/* Загальні стилі для форми */
form {
  margin: 0 auto;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 10px;
}

form.small {
  max-width: 400px;
}

/* Стилі для заголовка форми */
form h2 {
  font-size: 24px;
  margin-bottom: 20px;
}
form h3, form h2 {
  text-align: center;
}

/* Стилі для полів вводу тексту */
form input,
form input[type="text"],
form input[type="email"],
form input[type="password"],
form textarea,
form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

form textarea {
  resize: vertical;
  min-height: 40px;
}

/* Стилі для label */
form label {
  display: block;
  margin-bottom: 5px;
}

/* Стилі для кнопок */
form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #242424;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

form button:hover {
    background-color: #322a3b;
}
form button:disabled {
  background-color: gray;
}

/* Стилі для посилань */
form a {
  color: #007bff;
  text-decoration: none;
}

form a:hover {
  text-decoration: underline;
}

form fieldset {
  margin: 20px 0;
  border: none;
}

form fieldset label {
  width: 100%;
  display: flex;
  gap: 10px;
}

form fieldset label input[type='checkbox'] {
  width: 20px;
  height: 20px;
}

.error {
  margin: 10px 0;
  color: red;
}

.to-right {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 15px;
}

.save-pdf {
    background-color: #e50f0f;
    color: white;
    font-weight: bold;
    max-width: 200px;
    float: right;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.save-pdf:hover {
    background-color: #b52828;
}
.hidden {
  display: none;
}
